<main class="createMeme" style="padding:150px 0px 50px 0px">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">
                <fieldset>
                    <legend align="center">Delete User</legend>
                    <br/>
                    <div class="form-group">
                        <label class="form-control-label" for="user_email">Email</label>
                        <div>
                            <input class="form-control" type="email" id="user_email" placeholder="Email" name="email"
                                   required="required" th:value="${user.email}" disabled = "disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="user_fullname">Full Name</label>
                        <div>
                            <input class="form-control" type="text" id="user_fullname" placeholder="Full Name"
                                   name="fullName" required="required" th:value="${user.fullName}" disabled = "disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Roles:</label>
                        <div align="center">
                            <th:block th:each="role : ${roles}">
                                <td th:if="${user.roles.contains(role)} == true" th:text="${role.getSimpleName()}"></td>
                                <br/>
                            </th:block>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="form-control-label">Memes:</label>
                        <div align="center">
                            <input id="memesDelete" type="checkbox" name="memesDelete" th:value="DELETE" th:checked="false"> Delete Memes</input><br/>
                            <span th:text="${'/User has ' + numberOfMemes + ' meme(s)/'}"></span>
                        </div>
                    </div>
                    <br/>
                    <div align="center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/users/}">Cancel</a>
                            <input value="Delete" type="submit" style="cursor: pointer" class="btn btn-danger"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
