<script src="/scripts/masonry.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
<script th:src="@{/scripts/infinite-scroll_searchBar.js}"></script>

<main xmlns:th="http://www.w3.org/1999/xhtml" >
    <!--<div id="status">0 | 0</div>-->

    <header class="masthead" style="background-image: url('../img/categoryHead1.jpg');">
        <div class="header-content" >
            <div class="header-content-inner">
                <h1 id="categoryHeading" th:text="'Category: ' + ${category.name}" th:if="${category!=null}"></h1>
                <h1 id="tagHeading" th:text="'Tag: ' + ${tag.name}" th:if="${tag!=null}"></h1>
                <hr />
                <p>Is this your favourite?</p>
                <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
            </div>
        </div>
    </header>
    <div class="grid" id = "memes" style="padding-top: 50px;margin: 0 auto;" >
        <div class="grid-sizer"></div>

    </div>
</main>
