<main class="createMeme" xmlns:th="http://www.w3.org/1999/xhtml" style="padding:150px 0px 50px 0px">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-control::-ms-expand" th:action="@{/admin/categories/create}" method="POST">
                <fieldset>
                    <legend align="center">New Category</legend>
                    <br/>
                    <div class="form-group">
                        <label class="form-control-label" for="category_name">Category Name</label>
                        <div>
                            <input type="text" class="form-control" id="category_name"
                                   placeholder="Category Name" name="name" required = "required"/>
                        </div>
                    </div>
                    <br/>
                    <div align="center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/categories/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" th:value="Create"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
