<main class="createMeme" style="padding:150px 0px 50px 0px">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="col-md-12" th:action="@{/meme/edit/{id}(id=${meme.id})}" method="POST">
                <fieldset>
                    <legend align="center">Edit Post</legend>
                    <br/>
                    <div class="form-group">
                        <label class="form-control-label" for="meme_title">Post Title</label>
                        <div>
                            <input type="text" class="form-control" id="meme_title" placeholder="Post Title"
                                   name="title" th:value="${meme.title}" required = "required"/>
                        </div>
                    </div>
                    <div align="center">
                        <label class="form-control-label" for="meme_image">Image</label>
                        <div>
                            <img id="meme_image" align="center" style="width: 1100px" th:src="@{'/img/memeImages/' + ${meme.id} + '.jpg'}"/>
                        </div>
                    </div>


                    <!--<div class="form-group">
                        <label class="form-control-label" for="meme_content">Content</label>
                        <div>
                            <textarea class="form-control" rows="6" id="meme_content"  placeholder="Post Content"
                                      name="content" th:field="${meme.content}" required = "required"></textarea>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label  class="form-control-label" for="meme_category">Category</label>
                        <div>
                            <select class="form-control" id="meme_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"  th:selected="${category.id == meme.category.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label" for="meme_tags">Tags</label>
                        <div>
                            <input type="text" class="form-control" id="meme_tags" placeholder="Tags" name="tagString" th:value="${tags}"/>
                        </div>
                    </div>
                    <br/>
                    <div align="center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/meme/{id}(id = ${meme.id})}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
